name: Check Code Version

permissions:
  pull-requests: write

env:
  REPO: ${{ github.repository }}
  PR_NUMBER: ${{ github.event.pull_request.number }}

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:

jobs:
  check-code-version:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'
    steps:
      # Get current version
      - name: Check out the code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0    # fetch all history
          fetch-tags: true  # IMPORTANT: fetch tags too
      - name: Get version from current branch
        id: current_version
        run: |
          CURRENT_VERSION="$(grep -oP '__version__ = "\K[^"]+' my_repo/__init__.py)"
          echo "CURRENT_VERSION=$CURRENT_VERSION" >> $GITHUB_ENV
          echo "my branch is ${{ github.ref }}"
      # Get PR title to be updated with version
      - name : Get PR title and clean version number from it
        env:
          TITLE: ${{ github.event.pull_request.title }}
        run: |
          NEW_TITLE="${TITLE% [v:*}"
          echo "New title: $NEW_TITLE"
          echo "NEW_TITLE=$NEW_TITLE" >> $GITHUB_ENV
      - name: Get PR number
        id: pr_number
        run: |
          # Fetch the pull request number from the GitHub context
          PR_NUMBER=$(echo $GITHUB_REF | sed 's/refs\/pull\/\([0-9]*\)\/merge/\1/')
          echo "PR_NUMBER=$PR_NUMBER" >> $GITHUB_ENV
      - name: Validate version format
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if ! echo "$CURRENT_VERSION" | grep -Eq '^[0-9]+\.[0-9]+\.[0-9]+$'; then
            echo "Invalid version format: $v"
            echo "Removing version from PR title: $NEW_TITLE"
            curl -s -X PATCH \
              -H "Authorization: token $GITHUB_TOKEN" \
              -H "Accept: application/vnd.github.v3+json" \
              -d "{\"title\":\"$NEW_TITLE\"}" \
              "https://api.github.com/repos/${{ github.repository }}/pulls/$PR_NUMBER" > /dev/null
            exit 1
          fi
          echo "Version format is ok"
      # Get main version
      - name: Checkout the main branch to get its version
        uses: actions/checkout@v4
        with:
          ref: main
      - name: Get version from main branch
        id: main_version
        run: |
          if [[ "$(git show origin/main:my_repo/__init__.py)" == *"__version__"* ]]; then
            MAIN_VERSION="$(grep -oP '__version__ = "\K[^"]+' my_repo/__init__.py)"
          else
            echo "No version found at main, assuming version 0.0.0"
            MAIN_VERSION="0.0.0"
          fi
          echo "MAIN_VERSION=$MAIN_VERSION" >> $GITHUB_ENV
      # Compare
      - name: Check version update
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          IFS=. read -r C1 C2 C3 <<< "$CURRENT_VERSION"
          IFS=. read -r M1 M2 M3 <<< "$MAIN_VERSION"
          if [ "$C1" != "$M1" ]; then
            GOAL="$((M1 + 1)).0.0"
            if [ $C1 -lt $M1 ]; then
              ERROR="  - Version number should increase: $CURRENT_VERSION<$PREVIOUS_VERSION"
            elif [ "$C1" != "$((M1 + 1))" ]; then
              ERROR="  - Increment should be done by 1: $GOAL"
            elif [ "$CURRENT_VERSION" != "$GOAL" ]; then
              ERROR="  - When major version is increased, others should be zero: $GOAL"
            fi
          elif [ "$C2" != "$M2" ]; then
            GOAL="$C1.$((M2 + 1)).0"
            if [ $C2 -lt $M2 ]; then
              ERROR="  - Version number should increase: $CURRENT_VERSION<$PREVIOUS_VERSION"
            elif [ "$C2" != "$((M2 + 1))" ]; then
              ERROR="  - Increments should be done by 1: $GOAL"
            elif [ "$CURRENT_VERSION" != "$GOAL" ]; then
              ERROR="  - When middle version is increased, last number should be zero: $GOAL"
            fi
          elif [ "$C3" != "$M3" ]; then
            GOAL="$C1.$C2.$((M3 + 1))"
            if [ $C3 -lt $M3 ]; then
              ERROR="  - Version number should increase: $CURRENT_VERSION<$PREVIOUS_VERSION"
            elif [ "$CURRENT_VERSION" != "$GOAL" ]; then
              ERROR="  - Increments should be done by 1: $GOAL"
            fi
          else
            ERROR="  - Version at my_repo/__init__.py has not been updated!"
          fi
          if [ "$ERROR" != "" ]; then
            echo "Check failed:"
            echo "$ERROR"
            echo "#################"
            echo "Removing version from PR title: $NEW_TITLE"
            curl -s -X PATCH \
              -H "Authorization: token $GITHUB_TOKEN" \
              -H "Accept: application/vnd.github.v3+json" \
              -d "{\"title\":\"$NEW_TITLE\"}" \
              "https://api.github.com/repos/${{ github.repository }}/pulls/$PR_NUMBER" > /dev/null
            exit 1
          fi
          echo "[ok] Version increased changed!"
      # Add version number to PR title
      - name : Make new title for PR
        run: |
          NEW_TITLE="${NEW_TITLE} [v:$CURRENT_VERSION]"
          echo "New title: $NEW_TITLE"
          echo "NEW_TITLE=$NEW_TITLE" >> $GITHUB_ENV
      - name: Update PR title
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "Updating PR #$PR_NUMBER with new title: $NEW_TITLE"
          curl -s -X PATCH \
            -H "Authorization: Bearer $GITHUB_TOKEN" \
            -H "Accept: application/vnd.github.v3+json" \
            -d "{\"title\":\"$NEW_TITLE\"}" \
            "https://api.github.com/repos/$REPO/pulls/$PR_NUMBER"
