name: Version Validation (from main)

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to run CI against"
        required: true
        type: string

jobs:
  code-vers-valid-main:
    runs-on: ubuntu-latest
    steps:
      # Get current version
      - name: Checkout PR branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}
      - name: Get version from current branch
        id: current_version
        run: |
          CURRENT_VERSION="$(grep -oP '__version__ = "\K[^"]+' my_repo/__init__.py)"
          echo "CURRENT_VERSION=$CURRENT_VERSION" >> $GITHUB_ENV
      # Get PR title to be updated with version
      - name : Get PR title and clean version number from it
        env:
          TITLE: ${{ github.event.pull_request.title }}
        run: |
          NEW_TITLE="${TITLE% [version:*}"
          echo "New title: $NEW_TITLE"
          echo "NEW_TITLE=$NEW_TITLE" >> $GITHUB_ENV
      - name: Get PR number
        id: pr_number
        run: |
          # Fetch the pull request number from the GitHub context
          PR_NUMBER=$(echo $GITHUB_REF | sed 's/refs\/pull\/\([0-9]*\)\/merge/\1/')
          echo "PR_NUMBER=$PR_NUMBER" >> $GITHUB_ENV
      - name: Validate version format
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if ! echo "$CURRENT_VERSION" | grep -Eq '^[0-9]+\.[0-9]+\.[0-9]+$'; then
            echo "Invalid version format: $v"
            echo "Removing version from PR title: $NEW_TITLE"
            curl -s -X PATCH \
              -H "Authorization: token $GITHUB_TOKEN" \
              -H "Accept: application/vnd.github.v3+json" \
              -d "{\"title\":\"$NEW_TITLE\"}" \
              "https://api.github.com/repos/${{ github.repository }}/pulls/$PR_NUMBER" > /dev/null
            exit 1
          fi
          echo "Version format is ok"
